<div class="background">
  <div class="container px-5">
    <div class="row align-items-center gx-5">
      <div class="col-6 ps-0">
        <h3 [innerHTML]="dataArticle().sous_titre" class="mb-4"></h3>
        <a [href]="dataArticle().href_lien" class="btn btnOrderNow orange">
          {{ dataArticle().libelle_lien }}
        </a>
      </div>
      <div class="col-6 text-center">
        <img [src]="dataArticle().image_src" class="img-fluid" alt="Image de l'article" />
      </div>
    </div>
  </div>
</div>
  