<div class="bg">
    <div class="d-flex justify-content-center text-center">
        <div class="w-50">
            <h2>MENU</h2>
            <hr>
            <h3 [innerHTML]="h3SousTitre"></h3>
        </div>
    </div>
    <swiper-container
    slides-per-view="3"
    pagination="false"
    navigation="true"
    loop="true"
    autoplay-delay="3000"
    class="carousel"
    [breakpoints]="breakpoints"
    >
    @for(burger of dataBurgers(); track burger.titre) {
        <swiper-slide>
            <div class="card w-50">
                <img [src]="burger.image_src">
            </div>
        </swiper-slide>    
    }
    </swiper-container>
</div>