<div class="bg">
  <div class="container" id="menu">
    <div class="text-center mb-5">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>MENU</h2>
          <hr class="border-warning opacity-100 mx-auto w-25" />
          <h3 class="text-white" [innerHTML]="h3SousTitre"></h3>
        </div>
      </div>
    </div>

      <swiper-container
        class="carousel"
        #swiper
        init="false"
      >
        @for (burger of dataBurgers(); track burger.id) {
          <swiper-slide class="d-flex justify-content-center">
            <div class="burger-item">
              <div class="image-wrapper d-flex justify-content-center align-items-center">
                <img [src]="burger.image_src" [alt]="burger.titre" />
              </div>

              <div class="burger-info">
                <h5>{{ burger.titre }}</h5>
                <p>{{ burger.contenu }}</p>
                <a href="#" class="orderNow">ORDER NOW</a>
              </div>
            </div>
          </swiper-slide>
        }
      </swiper-container>
    <div class="text-center my-5">
      <a href="#" class="btn btnViewMore w-25">VIEW MORE</a>
    </div>
  </div>
</div>
