<div class="position-relative video-container">
  <img src="images/video-poster.png" alt="Video poster" class="image">
  <a href="https://www.youtube.com/watch?v=HS24PywYlxg" target="_blank">
      <button class="play-button position-absolute top-50 start-50 translate-middle border-0 bg-transparent">
          <svg width="80" height="80" viewBox="0 0 80 80">
              <circle cx="40" cy="40" r="40" fill="#E63946"/>
              <polygon points="32,24 32,56 56,40" fill="white"/>
            </svg>
        </button>
    </a>
</div>