@use '../../../variables';

.bulle-avis {
  background-color: variables.$BgGrisLight;

  &::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid variables.$BgGrisLight;
  }
}

.carrousel-avis {
  --swiper-navigation-color: #{variables.$Jaune};
  --swiper-pagination-color: #{variables.$Jaune};
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bottom: 0px;
}

  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: transparent !important;
    border: 2px solid variables.$Jaune !important;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active {
    background: variables.$Jaune !important;
  }

.etoile {
    width: 18px;
    &.transparent {
        opacity: 0.2;
    }
}

.review-content-wrapper {
    max-width: 800px;
    gap: 30px;
}

.review-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
}