$Roboto: 'Roboto Condensed', sans-serif;
$Arial: 'Arial', sans-serif;

// Nom des couleurs a rappller avec variables.$(le nom de ma variables dans le style.scss)
$BgPrimaire: #0a0a0a;
$BgSecondaire: #0f0f0f;
$Orange: #ff6d1f;
$Jaune: #fabb26;
$Vert: #2aa321;
$BgGrisLight: #242424;
$TextPrincipal: #ffffff;
$TextNoir: #000000;