@use '../../../variables';

footer {
  background-color: variables.$Orange;

  h5 {
    font-weight: bold;
    color: variables.$TextPrincipal;
  }

  form {
    .btnSend {
        background-color: variables.$Jaune;
        border: none;
        font-weight: bold;
        color: variables.$TextNoir;
        border-radius: 0 8px 8px 0;
    }
  }

  ul li a {
    color: variables.$TextPrincipal;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.2s;

    &::before {
      content: "\27A4"; 
      margin-right: 12px;
      font-size: 15px;
    }

    &:hover {
      opacity: 0.8;
      transform: translateX(5px);
    }
  }
}